<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student_management_system.mapper.CourseMapper">

    <resultMap id="CourseResultMap" type="com.example.student_management_system.model.Course">
        <id property="id" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="credits" column="credits"/>
        <result property="teacherId" column="teacher_id"/>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="CourseResultMap">
        SELECT id, course_id, course_name, credits, teacher_id FROM courses WHERE id = #{id}
    </select>

    <select id="findByCourseId" parameterType="string" resultMap="CourseResultMap">
        SELECT id, course_id, course_name, credits, teacher_id FROM courses WHERE course_id = #{courseId}
    </select>

    <select id="findByIds" parameterType="java.util.List" resultMap="CourseResultMap">
        SELECT * FROM courses
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="findAll" resultMap="CourseResultMap">
        SELECT id, course_id, course_name, credits, teacher_id FROM courses ORDER BY course_id
    </select>

    <select id="findByTeacherId" parameterType="long" resultMap="CourseResultMap">
        SELECT id, course_id, course_name, credits, teacher_id FROM courses WHERE teacher_id = #{teacherId}
    </select>

    <insert id="insert" parameterType="com.example.student_management_system.model.Course">
        INSERT INTO courses(course_id, course_name, credits, teacher_id)
        VALUES(#{courseId}, #{courseName}, #{credits}, #{teacherId})
    </insert>

    <update id="update" parameterType="com.example.student_management_system.model.Course">
        UPDATE courses
        SET course_id = #{courseId}, course_name = #{courseName}, credits = #{credits}, teacher_id = #{teacherId}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM courses WHERE id = #{id}
    </delete>

</mapper>