<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student_management_system.mapper.OfferingClassLinkMapper">

    <insert id="insert">
        INSERT INTO offering_class_links(course_offering_id, class_id, course_type)
        VALUES (#{courseOfferingId}, #{classId}, #{courseType})
    </insert>

    <delete id="deleteByOfferingId">
        DELETE FROM offering_class_links WHERE course_offering_id = #{offeringId}
    </delete>

    <select id="findOfferingsByClassAndTimetable" resultType="com.example.student_management_system.model.CourseOffering">
        SELECT o.* FROM course_offerings o
        JOIN offering_class_links l ON o.id = l.course_offering_id
        WHERE l.class_id = #{classId}
        AND o.academic_year = #{academicYear}
        AND o.semester = #{semester}
        AND o.course_day = #{courseDay}
        AND o.course_time = #{courseTime}
        <if test="excludeOfferingId != null">
            AND o.id != #{excludeOfferingId}
        </if>
    </select>

    <select id="findCompulsoryOfferingsForClass" resultType="com.example.student_management_system.model.CourseOffering">
        SELECT o.* FROM course_offerings o
                            JOIN offering_class_links l ON o.id = l.course_offering_id
        WHERE l.class_id = #{classId}
          AND o.academic_year = #{academicYear}
          AND o.semester = #{semester}
          AND l.course_type = 'COMPULSORY'
    </select>
</mapper>