<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student_management_system.mapper.TeacherMapper">

    <resultMap id="TeacherResultMap" type="com.example.student_management_system.model.Teacher">
        <id property="id" column="id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
    </resultMap>

    <resultMap id="TeacherWithCoursesResultMap" type="com.example.student_management_system.dto.TeacherDetailDTO">
        <id property="id" column="id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="name" column="name"/>
        <result property="taughtCourses" column="taught_courses"/>
    </resultMap>

    <select id="findByTeacherId" parameterType="string" resultMap="TeacherResultMap">
        SELECT id, teacher_id, name, password FROM teachers WHERE teacher_id = #{teacherId}
    </select>

    <select id="findById" parameterType="long" resultMap="TeacherResultMap">
        SELECT id, teacher_id, name, password FROM teachers WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="TeacherResultMap">
        SELECT id, teacher_id, name, password FROM teachers ORDER BY id
    </select>

    <select id="findAllWithCourseNames" resultMap="TeacherWithCoursesResultMap">
        SELECT
            t.id,
            t.teacher_id,
            t.name,
            GROUP_CONCAT(cc.name SEPARATOR ', ') AS taught_courses
        FROM
            teachers t
                LEFT JOIN
            course_offerings co ON t.id = co.teacher_id
                LEFT JOIN
            course_catalogs cc ON co.course_catalog_id = cc.id
        GROUP BY
            t.id, t.name
        ORDER BY
            t.id
    </select>


    <select id="findByIds" parameterType="java.util.List" resultMap="TeacherResultMap">
        SELECT id, teacher_id, name, password FROM teachers
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.example.student_management_system.model.Teacher">
        INSERT INTO teachers (teacher_id, name, password)
        VALUES (#{teacherId}, #{name}, #{password})
    </insert>

    <update id="update" parameterType="com.example.student_management_system.model.Teacher">
        UPDATE teachers
        <set>
            <if test="teacherId != null and teacherId != ''">teacher_id = #{teacherId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="password != null and password != ''">password = #{password},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM teachers WHERE id = #{id}
    </delete>

</mapper>